<div class="container">
  <%= erb :'partials/vote_form', locals: { object_id: @question.id, votable_type: "Question", question_id: @question.id } %>
  <section class="question-display">
    <h2 id="question-header"><%=@question.title%></h2>
      <p><%=@question.content%></p>
      <p>Asked by: <a href="/users/<%=@question.user_id%>"><%=@question.user.username%></a></p>
      <p>Points: <%=@question.votes.pluck("point_value").sum %></p>
      <a href="/questions/<%= @question.id %>/comments/new">Add Comment</a>

        <% if current_user && current_user.id == @question.user_id %>
          <form method="POST" action="/questions/<%= @question.id %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete">
          </form>
          <a href="/questions/<%= @question.id %>/edit">Edit</a>
        <% end %>

      <section class="comment-container">
        <% if @question.comments.length > 0 %>
          <h4>Comments</h4>
        <% end %>
        <% @question.comments.each do |comment| %>
        <%= erb :'partials/vote_form', locals: { object_id: comment.id, votable_type: "Comment", question_id: @question.id } %>
          <p><%= comment.content %></p>
          <p>Written by: <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a></p>
            <% if current_user && current_user.id == comment.user_id %>
                <form method="POST" action="/comments/<%=comment.id %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="delete">
                </form>
                <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
            <% end %>
        <% end %>
      </section>
  </section><br><br>

  <section class="answer-display">
    <h3 id="answer-header">Answers</h3>
      <% best_answer = @question.answers.find_by(best_answer: true) %>
      <% other_answers = @question.answers.where(best_answer: false).sort_by { |answer| -answer.votes.pluck("point_value").sum } %>
      <% best_answer ? answer_array = [best_answer] : answer_array = [] %>
      <% answer_array += other_answers %>
      <% answer_array.each do |answer| %>
      <% if current_user == @question.user && answer.best_answer == false %>
        <form action="/answer/<%= answer.id %>/best" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="submit" value="Declare Best Answer">
        </form>
      <% end %>
      <% if answer.best_answer == true %>
        <p>This answer is the best!</p>
      <% end %>
        <%= erb :'partials/vote_form', locals: { object_id: answer.id, votable_type: "Answer", question_id: @question.id } %>
        <%= answer.votes.pluck("point_value").sum %>
        <p><%= answer.content%></p>
        <p>Answered By: <a href="/users/<%= answer.user_id %>"><%= answer.user.username%></a></p><br>
        <a href="/questions/<%= @question.id %>/answers/<%= answer.id%>/comments/new">Add Comment</a>

          <% if current_user && current_user.id == answer.user_id %>
            <form method="POST" action="/answers/<%= answer.id %>">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="delete">
            </form>
          <a href="/answers/<%= answer.id %>/edit">Edit</a>
          <% end %>

        <section class="comment-container">
          <% if answer.comments.length > 0 %>
            <h4>Comments</h4>
          <% end %>
          <% answer.comments.each do |comment| %>
          <%= erb :'partials/vote_form', locals: { object_id: comment.id, votable_type: "Comment", question_id: @question.id } %>
            <p><%= comment.content %></p>
            <p>Written by: <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a></p>
              <% if current_user && current_user.id == comment.user_id %>
                <form method="POST" action="/comments/<%=comment.id %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="delete">
                </form>
                <a href="/comments/<%= comment.id%>/edit">Edit Comment</a>
              <% end %>
          <% end %>
        </section>
      <% end %>
  </section>

  <ul>
    <% if @errors %>
      <% @errors.each do |error| %>
        <li><%=error%></li>
      <% end %>
    <% end %>
  </ul>

  <form method="POST" action="/questions/<%= @question.id%>/answers" id="answer-question-form">
    <textarea rows="5" cols="40" class="text" name="answer[content]"></textarea>
    <input type="hidden" name="answer[user_id]" value="<%=current_user.id%>">
    <input type="hidden" name="answer[question_id]" value="<%= @question.id%>">
    <input type="submit" value="Post Answer">
  </form>
</div>


