<li class="question">
    <a href="/questions/<%=question.id%>"><%= question.title %></a>
    <ul class="attributes">
      <li>By: <%= question.user.username %></li>
      <li>Votes: <%= question.votes.pluck("point_value").sum %></li>
      <li>Comments: <%= question.comments.count %>
    </ul>
    <p><%= question.content %></p>
</li>
