

<section id="question">
      <h2 id="question-header"><%=question.title%></h2>
        <p><%= erb :'partials/vote_form', locals: { object_id: question.id, votable_type: "Question", question_id: question.id } %></p>
        <section id= "display">
        <p><%=question.content%></p>
        <p>Asked by: <a href="/users/<%=question.user_id%>"><%=question.user.username%></a></p>

        <p class="points">Points: <span class="point_val"><%=question.votes.pluck("point_value").sum %></span></p>

        <h3 class="tag-list-header">Tags:</h3>
        <ul class="tags-list">
          <% @question.tags.each do |tag| %>
            <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
          <% end %>
        </ul>


        <p><a class="add_question_comment" href="/questions/<%= question.id %>/comments/new">Add Comment</a></p>

        <% if current_user && current_user.id == question.user_id %>
          <form class="question-delete" method="POST" action="/questions/<%= question.id %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete">
          </form>
          <p><a class="edit" href="/questions/<%= question.id %>/edit">Edit</a></p>
          <form class="tag-question" method="POST" action="/question_tags">
            <label for="tag[name]">Add Tag:</label>
            <input type="hidden" name="question[id]" value="<%= question.id %>">
            <input id="tag-input" type="text" name= "tag[name]">
            <input type="submit" value="Add Tag">
          </form>

        <% end %>
        </section>
  <!--     </section> -->

      <section class="comment_question">
        <% if question.comments.length > 0 %>
          <h4>Comments</h4>
        <% end %>
        <% question.comments.each do |comment| %>
        <%= erb :'partials/vote_form', locals: { object_id: comment.id, votable_type: "Comment", question_id: question.id } %>
        <section id="display_comments">
          <p><%= comment.content %></p>
          <p>Written by: <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a></p></section>
            <% if current_user && current_user.id == comment.user_id %>
                <form class = "delete" method="POST" action="/comments/<%=comment.id %>">
                <input class = "delete"type="hidden" name="_method" value="delete">
                <input type="hidden" class="id-to-delete" value="<%= comment.id %>">
                <input type="submit" value="delete">
                </form>
                <p><a class="edit" href="/comments/<%= comment.id %>/edit">Edit Comment</a></p>
            <% end %>
        <% end %>
        </section>
      </section>
