<div class="container">
 <section class="content">


  <ul class="questions">
    <% @questions.each do |question| %>
    <div class="question">
    <li>
      <div class="attributes">
        <ul>
          <li><img src="<%= Faker::Avatar.image %>"></li>
          <li> <%= question.votes.pluck("point_value").sum %> Votes</li>
          <li> <%= question.answers.count %> Answers</li>
          <li> <%= question.comments.count %> Comments</li>
        </ul>
      </div>
      <div class="title-content">
        <a href="/questions/<%=question.id%>"><%= question.title %></a>
        <p>By: <%= question.user.username %></p>
        <p><%= question.content %></p>
      </div>
      <div class="tags">
      <ul>
        <% question.tags.each do |tag| %>
          <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
        <% end %>
      </ul>
    </div>

    </li>
  </div>
    <% end %>
  </ul>


  <a class="ask_question" href="/questions/new">Ask a Question</a>
</section>
</div>
